//need to make the display grid so that we can adjust the number of movies displayed per row based on the screen size.

.movie-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); //ensures 5 rows of equal width when default size
    gap: 20px; //adds a 20px gap between each movie card
    justify-content: center;
    padding: 20px; //adds 20px padding around the movie list


    //These wil handle columns when the screen size is reduced
    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        /* 4 items per row on smaller screens */
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr); //three rows when screen is average
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); //two rows when screen is small
        gap: 12px;

    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr); //Only one row when screen is very small
        gap: 10px;
    }
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; //ensures all heights will be same
    border: 1px solid #ccc; //adds a 1px border around each movie card
    padding: 10px; //adds 10px padding inside each movie card
    border-radius: 5px; //adds a 5px border radius to each movie card
    text-align: center; //centers the text inside each movie card
    background-color: #ad9191;
    transition: transform 0.3s ease-in-out; //adds a smooth transition effect when hovering over a movie card

    &:hover {
        transform: scale(1.05); //silight scale effect when hovering over a movie card
    }

    img {
        width: 100%; // takes full card size
        height: auto; //maintains the aspect ratio
        border-radius: 8px;
        flex-grow: 1; //makes the image take up the remaining space
        margin-bottom: 4px;
    }

    .btn-fav {
        width: 80%;
        text-align: center;
        margin-top: auto; //pushes the button to the bottom of the card
        margin-bottom: 10px; //adds a 10px margin below the button
    }
}

.btn-fav {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

    &:hover {
        background-color: #f57c00;
        transform: scale(1.05);
    }

    &:active {
        background-color: #cc7700;
        transform: scale(0.95);
    }
}