/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        padding: 10px 15px;
        margin: 0 5px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: #0056b3;
        }

        &.disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    //Handles the pagination as per the screen size
    @media (max-width: 768px) {
        gap: 3px;

        button {
            padding: 6px 8px;
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        flex-wrap: wrap;
        gap: 2px;

        button {
            padding: 5px 6px;
            font-size: 12px;
        }
    }
}